@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
   margin: 0;
   padding: 0;
   font-family: "poppins";
}

.header-color {
   color: #6F77F1;
}

.navbar-items {
   display: inline-block;
   position: relative;
   color: #0087ca;
}

.navbar-items::after {
   content: '';
   position: absolute;
   width: 70%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #6f77f1;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.navbar-items:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.started-btn {
   text-decoration: none;
   color: black;
}

.creative {
   margin-right: auto;
   z-index: 2;
   width: 230px;
   height: 110px;
   opacity: 0.95;
}

.bls-anchor {
   text-decoration: none;
}

.bls-anchor:hover {
   text-decoration: underline;
}

.sub-button {
   background-color: #6F77F1;
   border-radius: 3px;
   outline: none;
   border: none;
}

.marketing-management-content:hover {
   box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
   border-radius: 5px;
}

.member-2 {
   background-image: url(../img/member-2-bg.png);
   background-repeat: no-repeat;
}

.member-4 {
   background-image: url(../img/member-4-bg.png);
   background-repeat: no-repeat;
}

.choose-card:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.optimisation-content:hover {
   /* box-sizing: border-box; */
   border-bottom: 2px solid #717AE0 !important;
}

.price-tag {
   transition: transform 1s;
}

.price-tag:hover {
   background: url(../img/plans/price-bg.png) no-repeat center;
   color: white !important;
   transform: scale(1.1);
   box-shadow: 0px 26px 42px rgba(2, 22, 5, 0.08);
}

.price-btn {
   background-color: white;
   border-radius: 4px;
}

.need-it-items {
   border-radius: 4px;
}

.need-it-items:hover {
   box-shadow: 5px 25px 37px rgba(2, 22, 5, 0.06);
}

.swiper {
   overflow: hidden;
}

.swiper-slide-active {
   box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

.circle {
   width: 10px;
   height: 10px;
   background-color: #E9E9E9;
   border-radius: 100%;
}

.activated {
   background-color: #6F77F1;
}

.team-select :hover {
   zoom: 102%;
}


h1 {
   font-weight: bold;
   position: relative;
}

.expert-box:hover {
   box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
   color: #6F77F1;
}

.footer-items {
   text-decoration: none;
   color: black;
}

h1 {
   font-size: 3rem !important;
}

@media (min-width: 800px) {



   h1 {
      font-size: 4rem !important;
   }
}

.expert {
   position: absolute;
   left: 112%;
   color: #6f77f1;
   border: 2px solid #6f77f1;
   padding: 0.3rem;
   rotate: -8.23deg;
   font-size: 3rem;
}