@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
   margin: 0;
   padding: 0;
   font-family: "poppins";
}

le {
   color: #6F77F1;
}

.navbar-items {
   display: inline-block;
   position: relative;
   color: #0087ca;
}

.navbar-items::after {
   content: '';
   position: absolute;
   width: 70%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #6f77f1;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.navbar-items:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.sub-button {
   background-color: #6F77F1;
   border-radius: 3px;
   outline: none;
   border: none;
}

.marketing-management-content:hover {
   box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
   border-radius: 5px;
}

.member-2 {
   background-image: url(/imgs/member-2-bg.png);
   background-repeat: no-repeat;
}

.member-4 {
   background-image: url(/imgs/member-4-bg.png);
   background-repeat: no-repeat;
}

.choose-card:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* .price-tag:hover {
   background: url(/imgs/price-bg.png) no-repeat center;
   color: white !important;
   scale: 1.05;
   transition-property: all;
   transition-duration: 0.5s;
} */
.price-tag {
   transition: transform 1s;
}

.price-tag:hover {
   background: url(/imgs/price-bg.png) no-repeat center;
   color: white !important;
   transform: scale(1.1);
}



.price-btn {
   background-color: white;
   border-radius: 4px;
}

.swiper {
   overflow: hidden;
}

.swiper-slide-active {
   box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

.circle {
   width: 10px;
   height: 10px;
   background-color: #E9E9E9;
   border-radius: 100%;
}

.activated {
   background-color: #6F77F1;
}

.team-select :hover {
   zoom: 102%;
}

.expert {
   position: absolute;
   right: 0;
   color: #6f77f1;
   border: 2px solid #6f77f1;
   padding: 0.3rem;
   rotate: -15deg;
   font-size: 3rem;
}

h1 {
   font-weight: bold;
   position: relative;
}

.expert-box:hover {
   box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
   color: #6F77F1;
}

@media (min-width: 0px) {
   .right {
      height: 70vh;
      background: url(/imgs/woman.png) no-repeat center center/70%,
         url(/imgs/zigzag.png) no-repeat center center/80%,
         url(/imgs/behind-box.png) no-repeat center center/70%;
   }

   h1 {
      font-size: 3rem !important;
   }
}

@media (min-width: 800px) {
   .top_section {
      height: 80vh;
   }

   .right {
      height: 100%;
      background: url(/imgs/woman.png) no-repeat left center/70%,
         url(/imgs/zigzag.png) no-repeat left center/80%,
         url(/imgs/behind-box.png) no-repeat center top/45%;
   }

   h1 {
      font-size: 4rem !important;
   }
}

/* .swiper {
   width: 100%;
   height: 100%;
}


.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100%;
   margin: 20px;
   padding: 20px;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: relative;
   height: 100%;
} */